.services-item2 {
    padding: 30px 15px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .services-item2 .icon {
    margin-bottom: 20px;
    color: black;
  }
  
  .services-item2 .icon i {
    width: 60px;
    height: 60px;
    background: #f9f9f9;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }